name: Nextcloud setup

on:
  push:
    paths:
      - '**setup-nextcloud**'
      - 'package.json'
      - 'package-lock.json'
      - 'node_modules/**'
  pull_request:
      paths:
      - '**setup-nextcloud-app**'
      - 'package.json'
      - 'package-lock.json'
      - 'node_modules/**'
env:
  POSTGRES_PASSWORD: nc_test_db
  MYSQL_USER: nc_test
  MYSQL_PASSWORD: nc_test_db
  MYSQL_DATABASE: nc_test

permissions: {}

jobs:
  setup-nextcloud:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        database: ['sqlite', 'pgsql', 'mysql']
    services:
      postgres:
        image: postgres:18
        env:
          POSTGRES_PASSWORD: ${{ env.POSTGRES_PASSWORD }}
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
    env:
      FILENAME: ".revision"
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # 2.36.0
        with:
          php-version: '8.4'

      - name: Setup mysql
        if: matrix.database == 'mysql'
        uses: getong/mariadb-action@d6d2ec41fd5588f369be4c9398ce77ee725ca9ea # v1.11
        with:
          host port: 3800
          mysql database: ${{ env.MYSQL_DATABASE }}
          mysql root password: ${{ env.MYSQL_PASSWORD }}
          mysql user: ${{ env.MYSQL_USER }}
          mysql password: ${{ env.MYSQL_PASSWORD }}
          mariadb version: '11.8'

      - name: Script test
        uses: ./setup-nextcloud/
        with:
          version: 'stable32'
          cron: true
          database-type: ${{ matrix.database }}
          database-host: ${{ matrix.database == 'mysql' && '127.0.0.1' || 'localhost' }}
          database-port: ${{ matrix.database == 'mysql' && '3800' || '5432' }}
          database-name: ${{ matrix.database == 'mysql' && env.MYSQL_DATABASE || 'postgres' }}
          database-user: ${{ matrix.database == 'mysql' && 'root' || 'postgres' }}
          database-password: ${{ matrix.database == 'mysql' && env.MYSQL_PASSWORD || env.POSTGRES_PASSWORD }}

      - name: Test setup
        run: cd ../server && ./occ maintenance:mode --on
